/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.text-white {
    color: white !important;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.row {
    margin-right: -8px;
    margin-left: -8px;
}

.row::after {
    content:"";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding: 0 8px;
}

.col-3 {
    width: 33.3333333%;
}

.col-2 {
    width: 50%;
}

.col-full {
    width: 100%;
}


#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: black;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav li{
    display: inline-block;
    position: relative;
}

#nav li a{
    text-decoration: none;
    color: white;
    display: block;
    line-height: 46px; /* optional */
    padding: 0px 24px;
}

#nav > li > a {
    text-transform: uppercase;
}

#nav > li:hover > a,
.submit-contact:hover,
#nav .subnav > li:hover > a{
    background-color: #ccc;
    color: black;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#nav .subnav li {
    background-color: white;
    display: block;
}

#nav .subnav a {
    color: black;
    line-height: 39px;
    padding-left: 12px;
    min-width: 160px;
}

#nav .down_icon {
    font-size: 12px;
}

#header .menu_mobile_btn,
#header .search_button {
    float: right;
    padding: 0 18px;
}

#header .menu_mobile_btn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

#header .search_button:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .menu_mobile_btn:hover{
    background-color: #ccc;
}

#header .menu_mobile_btn:hover .menu-icon {
    color: black;
}

#header .menu-icon,
#header .search_icon {
    color: white;
    font-size: 20px;
    line-height: 46px;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url(../img/slider/slider1.jpg) top center / cover no-repeat;
    position: relative;
}

#slider .text-contain {
    position: absolute;
    color: white;
    bottom: 47px;
    width: 100%;
    text-align: center;
    text-shadow: 0 0 1px black;
}

#slider .text-header {
    font-weight: 300;
    margin-bottom: 25px;
}

.content-heading {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 64px 16px 112px;
}

.content-heading .header-content {
    text-align: center;
    font-weight: 350;
    letter-spacing: 4px;
}

.content-heading .subheader-content {
    text-align: center;
    font-style: italic;
    opacity: 65%;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 15px;
}

.content-heading .main-content {
    text-align: justify;
    font-size:  15px;
    line-height: 1.4;
}

#content .memberlist {
    padding-top: 32px;
    text-align: center;
    overflow: hidden;
}

#content .member-name {
    margin: 15px 0;
    font-size: 15px;
}

#content .member-avatar {
    width: 134px;
    border-radius: 4px;
}

.tour {
    background-color: black;
}

.ticket-state {
    background-color: white;
    margin-top:40px;
    font-size: 15px;
    color: #757575;
    list-style: none;
}

.ticket-state li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.ticket-state .state {
    background-color: #f44336;
    color: white;
    padding: 2px 8px;
    margin-left: 16px;
}

.ticket-state .quantity {
    float: right;
    color: white;
    background-color: black;
    padding: 4px 8px;
    border-radius: 50%;
    margin-right: 16px;
    margin-top: -3px;
}

.local {
    overflow: hidden;
    font-size: 15px;
    margin-top: 32px;
}

.destination-img {
    width: 100%;
    display: block;
}

.destination-img:hover {
    opacity: 0.6;
}

.destination-info {
    background-color: white;
    padding: 0 16px;
}

.destination-name {
    padding: 15px 0;
    font-size: 15px;
    font-weight: 600;
}

.time {
    margin-bottom: 15px;
    opacity: 0.6;
}

.place-desc {
    margin-bottom: 15px;
    line-height: 1.4;
}

.buy-tickets {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 9px 16px;
    display: inline-block;
    margin-bottom: 16px;
    line-height: 1.4;
    border: none;
    text-align: center;
}

.buy-tickets:hover {
    color: black;
    background-color: #ccc;
}

.contact-form {
    padding-top:32px;
}

.contact-info{
    display: block;
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i {
    width: 32px;
    display: inline-block;
}

.input-contact {
    padding: 8px;
    font-size: 15px;
    border: 1px solid #ccc;
    width: 100%;
    line-height: 1.4;
}

.submit-contact {
    border: none;
    background: black;
    color: white;
    padding: 11px 16px;
    font-size: 15px;
    float: right;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}

.map img{
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

.social-list a {
    font-size: 24px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

#footer .source a:hover,
.social-list a:hover {
    opacity: 0.4;
}

#footer .source {
    font-size: 15px;
    margin: 15px 0px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .source a {
    color: rgba(0, 0, 0, 0.6);
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open-modal {
    display: flex;
}

.modal-container {
    background: white;
    width: 900px;
    max-width: 96%;
    min-height: 200px;
    border-radius: 4px;
    animation: transition-modal ease 0.5s;
}

.bag-icon {
    margin-right: 16px;
}

.modal-header {
    width: 100%;
    height: 128px;
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    letter-spacing: 4px;
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.modal-buttonclose {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 24px;
    padding: 10px 8px 10px 11px;
    align-items: center;
    cursor: pointer;
    border-top-right-radius: 4px;
}

.modal-buttonclose:hover {
    background: #f44336;
}

.modal-content {
    padding: 0px 16px 16px;
    font-size: 15px;
}

.label-ticket {
    display: block;
    margin-bottom: 12px;
    margin-top: 20px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 12px;
}

.modal-paybutton {
    margin: 16px 0;
    border: none;
    background: #009688;
    width: 100%;
    padding: 16px;
    color: white;
    text-transform: uppercase;
}

.modal-paybutton:hover {
    opacity: 0.4;
    color: black;
}

.help {
    float: right;
    margin-bottom: 20px;
}

.help > a {
    color: #2196F3;
}

@keyframes transition-modal {
    from {
        opacity: 0;
        transform: translateY(-110px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media only screen and (max-width: 63.9375em) {
    .submit-contact,
    .buy-tickets {
        padding: 13px 16px;
    }

    .input-contact {
        padding: 11px;
    }

    #footer .source a {
        padding: 12px 0px;
    }

    .social-list a {
        font-size: 28px;
        margin: 0px 4px;
    }
}

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .content-heading {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media only screen and (max-width: 46.1875em) {
    .mobile-full-width,
    .mobile-col-full {
        width: 100% !important;
    }

    .mobile-mt-8 {
        margin-top: 8px;
    }

    .mobile-mt-16 {
        margin-top: 16px;
    }

    #header {
    overflow: hidden;
    }

    #header .search_button {
        display: none;
    }

    #header .menu_mobile_btn {
        display: block;
    }

    #nav,   
    #nav li {
        display: block;
    }

    #nav li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
    }

    #nav .subnav li {
        width: 100%;
        background-color: rgba(68, 68, 68, 0.4);
    }

    #nav .subnav a {
        display: inline-block;
        width: 100%;
        color: white;
    }

    #slider .text-contain {
        display: none;
    }

    #content .member-avatar {
        width: 60%;
    }
}